PROJECT_NAME=place-recommendation-system
PROJECT_DESCRIPTION="This service exposes a high-performance backend designed to power intelligent discovery applications. Unlike traditional SQL-based APIs, this system leverages a Graph Database to natively model and query complex relationships between travelers, locations, and features / user need."
PROJECT_VERSION=1.0.0

NEO4J_HOSTNAME=bolt://127.0.0.1:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4j
NEO4J_DATABASE=microproject-place-recommendation-system